<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1> Create a Basketball Team! <h1>

    <form method="POST" actions="/newteam">
    <p> Team Name: <input type="text" Team Name="name"> </p>
    <p> Coach: <input type="text" Coach="coach"> </p>
    <p> Point Guard: <input type="text" Point Guard="pg"> </p>
    <p> Shooting Guard: <input type="text" Shooting Guard="sg"> </p>
    <p> Small Foward: <input type="text" Small Foward="sf">  </p>
    <p> Power Forward: <input type="text" Power Forward="pf"> </p>
    <p> Center: <input type="text" Center="center"> </p>
      <input type="submit" value="submit">
      </form>
 </body>
</html>
