<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1> Create a Basketball Team! <h1>

    <form method="POST" actions="/newteam">
    <p> Team Name: <input type="text" Team Name="string"> </p>
    <p> Coach: <input type="text" Coach="string"> </p>
    <p> Point Guard: <input type="text" Point Guard="string"> </p>
    <p> Shooting Guard: <input type="text" Shooting Guard="string"> </p>
    <p> Small Foward: <input type="text" Small Foward="string">  </p>
    <p> Power Forward: <input type="text" Power Forward="string"> </p>
    <p> Center: <input type="text" Center="string"> </p>
      <input type="submit" value="submit">
      </form>
 </body>
</html>
